<h1>Projeto De Previsao de Compras</h1>
<h2>Versao.: 1.2</h2>
<h2>Data.:   05/02/2019  08:49</h2>

<h3>
    TODO:<br/>
    <s>1º Reajustar a média móvel;</s><br/>
    <s>2º Calibrar com o auto-arima os modelos arima e sarima;</s><br/>
        3º Gerar o erro quadrático para cada modelo;<br/>
        4º Fazer a seleção das quantidades a serem compradas do modelo que contiver o menor erro;<br/>
        5º Rodar o projeto com todos os itens.<br/>
</h3>

In [204]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from datetime import datetime
from math import sqrt
from math import floor
from math import ceil
from sklearn.metrics import mean_squared_error
from statsmodels.tsa.api import SimpleExpSmoothing, Holt, ExponentialSmoothing
from statsmodels.tsa.arima_model import ARIMA
from pmdarima.arima import auto_arima

%matplotlib inline

try:
    dateparse = lambda dates: pd.datetime.strptime(dates, '%d.%m.%Y %H:%M:%S')
    dataFrame = pd.read_csv(r"C:\Users\PC\Estudos\Data Science\Ajuste Media de Compra\datasets\VENDA-GAM-343.CSV", sep=";", parse_dates=['dt_venda'], 
                        index_col='dt_venda', date_parser=dateparse)
except:
    dateparse = lambda dates: pd.datetime.strptime(dates, '%d/%m/%Y %H:%M:%S')
    dataFrame = pd.read_csv(r"C:\Users\PC\Estudos\Data Science\Ajuste Media de Compra\datasets\VENDA-GAM-343.CSV", sep=";", parse_dates=['dt_venda'], 
                       index_col='dt_venda', date_parser=dateparse)

DEBUG:matplotlib.pyplot:Loaded backend module://ipykernel.pylab.backend_inline version unknown.

In [2]:
dataFrame.head()

            cd_empresa  cd_mercadoria  qt_vendida
dt_venda
2016-01-01           1         117661         616
2016-02-01           1         117661         207
2016-03-01           1         117661         584
2016-04-01           1         117661         236
2016-05-01           1         117661        1002

In [3]:
def buscarDataAtual():
    data_atual = datetime.today()
    data_em_texto = '{}-{}-{}'.format(data_atual.year, data_atual.month, '01')
    return data_em_texto

In [4]:
def adicionarIndicesFaltantes(df):
    idx = pd.date_range(min(df.index), dataAtual, freq='MS')
    df.index = pd.DatetimeIndex(df.index)
    df = df.reindex(idx, fill_value=0)
    return df

In [181]:
def suavizacaoExponencialSimples(dataFrameMercadoria):
    
    totalLinhas = dataFrameMercadoria.shape[0]
    quantidadeLinhasTreino = floor(totalLinhas-((totalLinhas*20)/100))

    ts = dataFrameMercadoria['qt_vendida']
    
    train = ts[0:quantidadeLinhasTreino]
    teste = ts[quantidadeLinhasTreino:len(ts)-1] 
    
    y_hat_avg = pd.DataFrame(teste.copy())
    model_fit = SimpleExpSmoothing(np.asarray(train)).fit(smoothing_level=0.6,optimized=False)
    y_hat_avg['SES'] = model_fit.forecast(len(teste)) 
    
    for i, hatAvg in y_hat_avg.iterrows():
        dataFrameMercadoria.set_value(y_hat_avg[i:i+1].index.date,'SES',y_hat_avg[i:i+1])
    
    train = ts[0:len(ts)-1]
    teste = ts[len(ts)-1:len(ts)]
    
    y_hat_avg = pd.DataFrame(teste.copy())
    model_fit = SimpleExpSmoothing(np.asarray(train)).fit(smoothing_level=0.6,optimized=False)
    y_hat_avg['SES'] = model_fit.forecast(len(teste))
    
    for i, hatAvg in y_hat_avg.iterrows():
        dataFrameMercadoria.set_value(y_hat_avg[i:i+1].index.date,'SES',y_hat_avg[i:i+1])
    
    return dataFrameMercadoria

In [182]:
def holtLinear(dataFrameMercadoria):
    
    totalLinhas = dataFrameMercadoria.shape[0]
    quantidadeLinhasTreino = floor(totalLinhas-((totalLinhas*20)/100))

    ts = dataFrameMercadoria['qt_vendida']
    
    train = ts[0:quantidadeLinhasTreino]
    teste = ts[quantidadeLinhasTreino:len(ts)-1] 
    
    y_hat_avg = pd.DataFrame(teste.copy())
    fit1 = Holt(np.asarray(train)).fit(smoothing_level = 0.6,smoothing_slope = 0.1)
    y_hat_avg['Holt_linear'] = fit1.forecast(len(teste))
    
    for i, hatAvg in y_hat_avg.iterrows():
        dataFrameMercadoria.set_value(y_hat_avg[i:i+1].index.date,'Holt_linear',y_hat_avg[i:i+1])
        
    train = ts[0:len(ts)-1]
    teste = ts[len(ts)-1:len(ts)]
    
    y_hat_avg = pd.DataFrame(teste.copy())
    fit1 = Holt(np.asarray(train)).fit(smoothing_level = 0.6,smoothing_slope = 0.1)
    y_hat_avg['Holt_linear'] = fit1.forecast(len(teste))
    
    for i, hatAvg in y_hat_avg.iterrows():
        dataFrameMercadoria.set_value(y_hat_avg[i:i+1].index.date,'Holt_linear',y_hat_avg[i:i+1])
    
    return dataFrameMercadoria

In [183]:
def holtWinter(dataFrameMercadoria):
    
    totalLinhas = dataFrameMercadoria.shape[0]
    quantidadeLinhasTreino = floor(totalLinhas-((totalLinhas*20)/100))

    ts = dataFrameMercadoria['qt_vendida']
    
    train = ts[0:quantidadeLinhasTreino]
    teste = ts[quantidadeLinhasTreino:len(ts)-1] 
    
    y_hat_avg = pd.DataFrame(teste.copy())
    fit1 = ExponentialSmoothing(np.asarray(train) ,seasonal_periods=12,trend='add', seasonal='add' ).fit()
    y_hat_avg['Holt_Winter'] = fit1.forecast(len(teste))
    
    for i, hatAvg in y_hat_avg.iterrows():
        dataFrameMercadoria.set_value(y_hat_avg[i:i+1].index.date,'Holt_Winter',y_hat_avg[i:i+1])
        
    train = ts[0:len(ts)-1]
    teste = ts[len(ts)-1:len(ts)]
    
    y_hat_avg = pd.DataFrame(teste.copy())
    fit1 = ExponentialSmoothing(np.asarray(train) ,seasonal_periods=12,trend='add', seasonal='add' ).fit()
    y_hat_avg['Holt_Winter'] = fit1.forecast(len(teste))
    
    for i, hatAvg in y_hat_avg.iterrows():
        dataFrameMercadoria.set_value(y_hat_avg[i:i+1].index.date,'Holt_Winter',y_hat_avg[i:i+1])

    return dataFrameMercadoria

In [213]:
def arima(dataFrameMercadoria):
    
    totalLinhas = dataFrameMercadoria.shape[0]
    quantidadeLinhasTreino = floor(totalLinhas-((totalLinhas*20)/100))

    ts = dataFrameMercadoria['qt_vendida']
    
    train = ts[0:quantidadeLinhasTreino]
    teste = ts[quantidadeLinhasTreino:len(ts)-1] 
    
    modelo_auto = auto_arima(ts, m = 12, seasonal = True, trace = False)
    
    arimaOrder = modelo_auto.order
    
    y_hat_avg = pd.DataFrame(teste.copy())
    fit1 = ARIMA(train, order=arimaOrder).fit(disp=0)
    forecast, stderr, conf = fit1.forecast(len(teste))
    y_hat_avg['ARIMA'] = forecast
    
    for i, hatAvg in y_hat_avg.iterrows():
        dataFrameMercadoria.set_value(y_hat_avg[i:i+1].index.date,'ARIMA',y_hat_avg[i:i+1])
    
    train = ts[0:len(ts)-1]
    teste = ts[len(ts)-1:len(ts)]
    
    y_hat_avg = pd.DataFrame(teste.copy())
    fit1 = ARIMA(train, order=arimaOrder).fit(disp=0)
    forecast, stderr, conf = fit1.forecast(len(teste))
    y_hat_avg['ARIMA'] = forecast
    
    for i, hatAvg in y_hat_avg.iterrows():
        dataFrameMercadoria.set_value(y_hat_avg[i:i+1].index.date,'ARIMA',y_hat_avg[i:i+1])

    return dataFrameMercadoria

In [214]:
def sarima(dataFrameMercadoria):
    
    totalLinhas = dataFrameMercadoria.shape[0]
    quantidadeLinhasTreino = floor(totalLinhas-((totalLinhas*20)/100))

    ts = dataFrameMercadoria['qt_vendida']
    
    train = ts[0:quantidadeLinhasTreino]
    teste = ts[quantidadeLinhasTreino:len(ts)-1]
    
    modelo_auto = auto_arima(ts, m = 12, seasonal = True, trace = False)
    
    sarimaOrder = modelo_auto.order
    seasonalOrder = modelo_auto.seasonal_order
    
    y_hat_avg = pd.DataFrame(teste.copy())
    fit1 = sm.tsa.statespace.SARIMAX(train, order=sarimaOrder,seasonal_order=seasonalOrder, 
                                 enforce_stationarity=False, enforce_invertibility=False).fit()
    y_hat_avg['SARIMA'] = fit1.forecast(len(teste))
    
    for i, hatAvg in y_hat_avg.iterrows():
        dataFrameMercadoria.set_value(y_hat_avg[i:i+1].index.date,'SARIMA',y_hat_avg[i:i+1])
        
    train = ts[0:len(ts)-1]
    teste = ts[len(ts)-1:len(ts)]
    
    y_hat_avg = pd.DataFrame(teste.copy())
    fit1 = sm.tsa.statespace.SARIMAX(train, order=sarimaOrder,seasonal_order=seasonalOrder, 
                                 enforce_stationarity=False, enforce_invertibility=False).fit()
    y_hat_avg['SARIMA'] = fit1.forecast(len(teste))
    
    for i, hatAvg in y_hat_avg.iterrows():
        dataFrameMercadoria.set_value(y_hat_avg[i:i+1].index.date,'SARIMA',y_hat_avg[i:i+1])
        
    return dataFrameMercadoria

In [198]:
def calcularMediaMovel(dataFrameMercadoria):
    j = 1
    while j <= 12:
        
        mediasMoveisCalculada = dataFrameMercadoria['qt_vendida'].rolling(j).mean()
        
        data_minima = mediasMoveisCalculada.index.min()+1
        data_maxima = mediasMoveisCalculada.index.max()
        
        date_index = pd.date_range(data_minima, data_maxima, freq="MS")
        serie = pd.Series(index=date_index)
        
        for i, iValue in serie.iteritems():
            serie[i] = mediasMoveisCalculada[i-1]
          
        dataFrameMercadoria['MM'+str(j)] = serie;

        j += 1
    return dataFrameMercadoria

In [231]:
def calcularErro(dataFrameMercadoria, dataAtual):
    for i, iValue in dataFrameMercadoria.iterrows():
        if (len(iValue) > 7):            
            print(iValue)
            #aVendida = iValue.iloc[-6:, 3].values            
            #j = 1
            #while j <= 12:
                #aMM = df.iloc[-8:-2, j+2].values
                #erroMM = sqrt(mean_squared_error(aVendida, aMM))
                #df.loc[dataAtual, 'MM'+str(j)] = erroMM
                #j+=1

In [232]:
#arrayMercadoria = dataFrame['cd_mercadoria'].unique()
#arrayEmpresa = [1, 4, 5]
arrayMercadoria = [117661]
arrayEmpresa = [1]

arrayDeDataFrame = []

dataAtual = buscarDataAtual()
dataFrame = dataFrame[dataFrame.index != dataAtual]
for emp in arrayEmpresa:
    i = 0
    for i, mer in enumerate(arrayMercadoria):
        df = dataFrame[(dataFrame['cd_mercadoria'] == mer) & 
                      (dataFrame['cd_empresa'] == emp)].sort_values(by=['dt_venda'],ascending=True)
        if (len(df) > 0):
            df = adicionarIndicesFaltantes(df)
            
            df = calcularMediaMovel(df)
            
            #df = suavizacaoExponencialSimples(df)
            
            #df = holtLinear(df)
            
            #df = holtWinter(df)
        
            #df = arima(df)
            
            #df = sarima(df)
            
            calcularErro(df, dataAtual)
            
            arrayDeDataFrame.append(df)
            
        #arrayDeDataFrame[len(arrayDeDataFrame)-1].fillna(0, inplace=True)
        
#calcularErro(dataAtual)

cd_empresa            1.0
cd_mercadoria    117661.0
qt_vendida          616.0
MM1                   NaN
MM2                   NaN
MM3                   NaN
MM4                   NaN
MM5                   NaN
MM6                   NaN
MM7                   NaN
MM8                   NaN
MM9                   NaN
MM10                  NaN
MM11                  NaN
MM12                  NaN
Name: 2016-01-01 00:00:00, dtype: float64
cd_empresa            1.0
cd_mercadoria    117661.0
qt_vendida          207.0
MM1                 616.0
MM2                   NaN
MM3                   NaN
MM4                   NaN
MM5                   NaN
MM6                   NaN
MM7                   NaN
MM8                   NaN
MM9                   NaN
MM10                  NaN
MM11                  NaN
MM12                  NaN
Name: 2016-02-01 00:00:00, dtype: float64
cd_empresa            1.0
cd_mercadoria    117661.0
qt_vendida          584.0
MM1                 207.0
MM2                 411.5
MM3                   NaN
MM4                   NaN
MM5                   NaN
MM6                   NaN
MM7                   NaN
MM8                   NaN
MM9                   NaN
MM10                  NaN
MM11                  NaN
MM12                  NaN
Name: 2016-03-01 00:00:00, dtype: float64
cd_empresa            1.0
cd_mercadoria    117661.0
qt_vendida          236.0
MM1                 584.0
MM2                 395.5
MM3                 469.0
MM4                   NaN
MM5                   NaN
MM6                   NaN
MM7                   NaN
MM8                   NaN
MM9                   NaN
MM10                  NaN
MM11                  NaN
MM12                  NaN
Name: 2016-04-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida         1002.000000
MM1                 236.000000
MM2                 410.000000
MM3                 342.333333
MM4                 410.750000
MM5                        NaN
MM6                        NaN
MM7                        NaN
MM8                        NaN
MM9                        NaN
MM10                       NaN
MM11                       NaN
MM12                       NaN
Name: 2016-05-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          261.000000
MM1                1002.000000
MM2                 619.000000
MM3                 607.333333
MM4                 507.250000
MM5                 529.000000
MM6                        NaN
MM7                        NaN
MM8                        NaN
MM9                        NaN
MM10                       NaN
MM11                       NaN
MM12                       NaN
Name: 2016-06-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          974.000000
MM1                 261.000000
MM2                 631.500000
MM3                 499.666667
MM4                 520.750000
MM5                 458.000000
MM6                 484.333333
MM7                        NaN
MM8                        NaN
MM9                        NaN
MM10                       NaN
MM11                       NaN
MM12                       NaN
Name: 2016-07-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          524.000000
MM1                 974.000000
MM2                 617.500000
MM3                 745.666667
MM4                 618.250000
MM5                 611.400000
MM6                 544.000000
MM7                 554.285714
MM8                        NaN
MM9                        NaN
MM10                       NaN
MM11                       NaN
MM12                       NaN
Name: 2016-08-01 00:00:00, dtype: float64
cd_empresa         0.000000
cd_mercadoria      0.000000
qt_vendida         0.000000
MM1              524.000000
MM2              749.000000
MM3              586.333333
MM4              690.250000
MM5              599.400000
MM6              596.833333
MM7              541.142857
MM8              550.500000
MM9                     NaN
MM10                    NaN
MM11                    NaN
MM12                    NaN
Name: 2016-09-01 00:00:00, dtype: float64
cd_empresa         0.000000
cd_mercadoria      0.000000
qt_vendida         0.000000
MM1                0.000000
MM2              262.000000
MM3              499.333333
MM4              439.750000
MM5              552.200000
MM6              499.500000
MM7              511.571429
MM8              473.500000
MM9              489.333333
MM10                    NaN
MM11                    NaN
MM12                    NaN
Name: 2016-10-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          906.000000
MM1                   0.000000
MM2                   0.000000
MM3                 174.666667
MM4                 374.500000
MM5                 351.800000
MM6                 460.166667
MM7                 428.142857
MM8                 447.625000
MM9                 420.888889
MM10                440.400000
MM11                       NaN
MM12                       NaN
Name: 2016-11-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          713.000000
MM1                 906.000000
MM2                 453.000000
MM3                 302.000000
MM4                 357.500000
MM5                 480.800000
MM6                 444.166667
MM7                 523.857143
MM8                 487.875000
MM9                 498.555556
MM10                469.400000
MM11                482.727273
MM12                       NaN
Name: 2016-12-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          788.000000
MM1                 713.000000
MM2                 809.500000
MM3                 539.666667
MM4                 404.750000
MM5                 428.600000
MM6                 519.500000
MM7                 482.571429
MM8                 547.500000
MM9                 512.888889
MM10                520.000000
MM11                491.545455
MM12                501.916667
Name: 2017-01-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          494.000000
MM1                 788.000000
MM2                 750.500000
MM3                 802.333333
MM4                 601.750000
MM5                 481.400000
MM6                 488.500000
MM7                 557.857143
MM8                 520.750000
MM9                 574.222222
MM10                540.400000
MM11                544.363636
MM12                516.250000
Name: 2017-02-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          868.000000
MM1                 494.000000
MM2                 641.000000
MM3                 665.000000
MM4                 725.250000
MM5                 580.200000
MM6                 483.500000
MM7                 489.285714
MM8                 549.875000
MM9                 517.777778
MM10                566.200000
MM11                536.181818
MM12                540.166667
Name: 2017-03-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          500.000000
MM1                 868.000000
MM2                 681.000000
MM3                 716.666667
MM4                 715.750000
MM5                 753.800000
MM6                 628.166667
MM7                 538.428571
MM8                 536.625000
MM9                 585.222222
MM10                552.800000
MM11                593.636364
MM12                563.833333
Name: 2017-04-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          645.000000
MM1                 500.000000
MM2                 684.000000
MM3                 620.666667
MM4                 662.500000
MM5                 672.600000
MM6                 711.500000
MM7                 609.857143
MM8                 533.625000
MM9                 532.555556
MM10                576.700000
MM11                548.000000
MM12                585.833333

Name: 2017-05-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          632.000000
MM1                 645.000000
MM2                 572.500000
MM3                 671.000000
MM4                 626.750000
MM5                 659.000000
MM6                 668.000000
MM7                 702.000000
MM8                 614.250000
MM9                 546.000000
MM10                543.800000
MM11                582.909091
MM12                556.083333
Name: 2017-06-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          365.000000
MM1                 632.000000
MM2                 638.500000
MM3                 592.333333
MM4                 661.250000
MM5                 627.800000
MM6                 654.500000
MM7                 662.857143
MM8                 693.250000
MM9                 616.222222
MM10                554.600000
MM11                551.818182
MM12                587.000000
Name: 2017-07-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida         1070.000000
MM1                 365.000000
MM2                 498.500000
MM3                 547.333333
MM4                 535.500000
MM5                 602.000000
MM6                 584.000000
MM7                 613.142857
MM8                 625.625000
MM9                 656.777778
MM10                591.100000
MM11                537.363636
MM12                536.250000
Name: 2017-08-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          469.000000
MM1                1070.000000
MM2                 717.500000
MM3                 689.000000
MM4                 678.000000
MM5                 642.400000
MM6                 680.000000
MM7                 653.428571
MM8                 670.250000
MM9                 675.000000
MM10                698.100000
MM11                634.636364
MM12                581.750000
Name: 2017-09-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          219.000000
MM1                 469.000000
MM2                 769.500000
MM3                 634.666667
MM4                 634.000000
MM5                 636.200000
MM6                 613.500000
MM7                 649.857143
MM8                 630.375000
MM9                 647.888889
MM10                654.400000
MM11                677.272727
MM12                620.833333
Name: 2017-10-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida         1289.000000
MM1                 219.000000
MM2                 344.000000
MM3                 586.000000
MM4                 530.750000
MM5                 551.000000
MM6                 566.666667
MM7                 557.142857
MM8                 596.000000
MM9                 584.666667
MM10                605.000000
MM11                614.818182
MM12                639.083333
Name: 2017-11-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          165.000000
MM1                1289.000000
MM2                 754.000000
MM3                 659.000000
MM4                 761.750000
MM5                 682.400000
MM6                 674.000000
MM7                 669.857143
MM8                 648.625000
MM9                 673.000000
MM10                655.100000
MM11                667.181818
MM12                671.000000
Name: 2017-12-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          609.000000
MM1                 165.000000
MM2                 727.000000
MM3                 557.666667
MM4                 535.500000
MM5                 642.400000
MM6                 596.166667
MM7                 601.285714
MM8                 606.750000
MM9                 594.888889
MM10                622.200000
MM11                610.545455
MM12                625.333333
Name: 2018-01-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          548.000000
MM1                 609.000000
MM2                 387.000000
MM3                 687.666667
MM4                 570.500000
MM5                 550.200000
MM6                 636.833333
MM7                 598.000000
MM8                 602.250000
MM9                 607.000000
MM10                596.300000
MM11                621.000000
MM12                610.416667
Name: 2018-02-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          299.000000
MM1                 548.000000
MM2                 578.500000
MM3                 440.666667
MM4                 652.750000
MM5                 566.000000
MM6                 549.833333
MM7                 624.142857
MM8                 591.750000
MM9                 596.222222
MM10                601.100000
MM11                591.909091
MM12                614.916667
Name: 2018-03-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          503.000000
MM1                 299.000000
MM2                 423.500000
MM3                 485.333333
MM4                 405.250000
MM5                 582.000000
MM6                 521.500000
MM7                 514.000000
MM8                 583.500000
MM9                 559.222222
MM10                566.500000
MM11                573.636364
MM12                567.500000
Name: 2018-04-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          292.000000
MM1                 503.000000
MM2                 401.000000
MM3                 450.000000
MM4                 489.750000
MM5                 424.800000
MM6                 568.833333
MM7                 518.857143
MM8                 512.625000
MM9                 574.555556
MM10                553.600000
MM11                560.727273
MM12                567.750000
Name: 2018-05-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          422.000000
MM1                 292.000000
MM2                 397.500000
MM3                 364.666667
MM4                 410.500000
MM5                 450.200000
MM6                 402.666667
MM7                 529.285714
MM8                 490.500000
MM9                 488.111111
MM10                546.300000
MM11                529.818182
MM12                538.333333
Name: 2018-06-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          437.000000
MM1                 422.000000
MM2                 357.000000
MM3                 405.666667
MM4                 379.000000
MM5                 412.800000
MM6                 445.500000
MM7                 405.428571
MM8                 515.875000
MM9                 482.888889
MM10                481.500000
MM11                535.000000
MM12                520.833333
Name: 2018-07-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          393.000000
MM1                 437.000000
MM2                 429.500000
MM3                 383.666667
MM4                 413.500000
MM5                 390.600000
MM6                 416.833333
MM7                 444.285714
MM8                 409.375000
MM9                 507.111111
MM10                478.300000
MM11                477.454545
MM12                526.833333
Name: 2018-08-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          442.000000
MM1                 393.000000
MM2                 415.000000
MM3                 417.333333
MM4                 386.000000
MM5                 409.400000
MM6                 391.000000
MM7                 413.428571
MM8                 437.875000
MM9                 407.555556
MM10                495.700000
MM11                470.545455
MM12                470.416667
Name: 2018-09-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          322.000000
MM1                 442.000000
MM2                 417.500000
MM3                 424.000000
MM4                 423.500000
MM5                 397.200000
MM6                 414.833333
MM7                 398.285714
MM8                 417.000000
MM9                 438.333333
MM10                411.000000
MM11                490.818182
MM12                468.166667

Name: 2018-10-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          250.000000
MM1                 322.000000
MM2                 382.000000
MM3                 385.666667
MM4                 398.500000
MM5                 403.200000
MM6                 384.666667
MM7                 401.571429
MM8                 388.750000
MM9                 406.444444
MM10                426.700000
MM11                402.909091
MM12                476.750000
Name: 2018-11-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida          488.000000
MM1                 250.000000
MM2                 286.000000
MM3                 338.000000
MM4                 351.750000
MM5                 368.800000
MM6                 377.666667
MM7                 365.428571
MM8                 382.625000
MM9                 373.333333
MM10                390.800000
MM11                410.636364
MM12                390.166667
Name: 2018-12-01 00:00:00, dtype: float64
cd_empresa            1.000000
cd_mercadoria    117661.000000
qt_vendida         1050.000000
MM1                 488.000000
MM2                 369.000000
MM3                 353.333333
MM4                 375.500000
MM5                 379.000000
MM6                 388.666667
MM7                 393.428571
MM8                 380.750000
MM9                 394.333333
MM10                384.800000
MM11                399.636364
MM12                417.083333
Name: 2019-01-01 00:00:00, dtype: float64
cd_empresa          0.000000
cd_mercadoria       0.000000
qt_vendida          0.000000
MM1              1050.000000
MM2               769.000000
MM3               596.000000
MM4               527.500000
MM5               510.400000
MM6               490.833333
MM7               483.142857
MM8               475.500000
MM9               455.111111
MM10              459.900000
MM11              445.272727
MM12              453.833333
Name: 2019-02-01 00:00:00, dtype: float64

In [225]:
arrayDeDataFrame[0]

,cd_empresa,cd_mercadoria,qt_vendida,MM1,MM2,MM3,MM4,MM5,MM6,MM7,MM8,MM9,MM10,MM11,MM12
2016-01-01,1,117661,616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-02-01,1,117661,207,616.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-03-01,1,117661,584,207.0,411.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-04-01,1,117661,236,584.0,395.5,469.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-05-01,1,117661,1002,236.0,410.0,342.333333,410.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-06-01,1,117661,261,1002.0,619.0,607.333333,507.25,529.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016-07-01,1,117661,974,261.0,631.5,499.666667,520.75,458.0,484.333333,NaN,NaN,NaN,NaN,NaN,NaN
2016-08-01,1,117661,524,974.0,617.5,745.666667,618.25,611.4,544.000000,554.285714,NaN,NaN,NaN,NaN,NaN
2016-09-01,0,0,0,524.0,749.0,586.333333,690.25,599.4,596.833333,541.142857,550.500,NaN,NaN,NaN,NaN
2016-10-01,0,0,0,0.0,262.0,499.333333,439.75,552.2,499.500000,511.571429,473.500,489.333333,NaN,NaN,NaN
2016-11-01,1,117661,906,0.0,0.0,174.666667,374.50,351.8,460.166667,428.142857,447.625,420.888889,440.4,NaN,NaN
2016-12-01,1,117661,713,906.0,453.0,302.000000,357.50,480.8,444.166667,523.857143,487.875,498.555556,469.4,482.727273,NaN
2017-01-01,1,117661,788,713.0,809.5,539.666667,404.75,428.6,519.500000,482.571429,547.500,512.888889,520.0,491.545455,501.916667
2017-02-01,1,117661,494,788.0,750.5,802.333333,601.75,481.4,488.500000,557.857143,520.750,574.222222,540.4,544.363636,516.250000
2017-03-01,1,117661,868,494.0,641.0,665.000000,725.25,580.2,483.500000,489.285714,549.875,517.777778,566.2,536.181818,540.166667
2017-04-01,1,117661,500,868.0,681.0,716.666667,715.75,753.8,628.166667,538.428571,536.625,585.222222,552.8,593.636364,563.833333
2017-05-01,1,117661,645,500.0,684.0,620.666667,662.50,672.6,711.500000,609.857143,533.625,532.555556,576.7,548.000000,585.833333
2017-06-01,1,117661,632,645.0,572.5,671.000000,626.75,659.0,668.000000,702.000000,614.250,546.000000,543.8,582.909091,556.083333
2017-07-01,1,117661,365,632.0,638.5,592.333333,661.25,627.8,654.500000,662.857143,693.250,616.222222,554.6,551.818182,587.000000
2017-08-01,1,117661,1070,365.0,498.5,547.333333,535.50,602.0,584.000000,613.142857,625.625,656.777778,591.1,537.363636,536.250000
2017-09-01,1,117661,469,1070.0,717.5,689.000000,678.00,642.4,680.000000,653.428571,670.250,675.000000,698.1,634.636364,581.750000
2017-10-01,1,117661,219,469.0,769.5,634.666667,634.00,636.2,613.500000,649.857143,630.375,647.888889,654.4,677.272727,620.833333
2017-11-01,1,117661,1289,219.0,344.0,586.000000,530.75,551.0,566.666667,557.142857,596.000,584.666667,605.0,614.818182,639.083333
2017-12-01,1,117661,165,1289.0,754.0,659.000000,761.75,682.4,674.000000,669.857143,648.625,673.000000,655.1,667.181818,671.000000
2018-01-01,1,117661,609,165.0,727.0,557.666667,535.50,642.4,596.166667,601.285714,606.750,594.888889,622.2,610.545455,625.333333
2018-02-01,1,117661,548,609.0,387.0,687.666667,570.50,550.2,636.833333,598.000000,602.250,607.000000,596.3,621.000000,610.416667
2018-03-01,1,117661,299,548.0,578.5,440.666667,652.75,566.0,549.833333,624.142857,591.750,596.222222,601.1,591.909091,614.916667
2018-04-01,1,117661,503,299.0,423.5,485.333333,405.25,582.0,521.500000,514.000000,583.500,559.222222,566.5,573.636364,567.500000
2018-05-01,1,117661,292,503.0,401.0,450.000000,489.75,424.8,568.833333,518.857143,512.625,574.555556,553.6,560.727273,567.750000
2018-06-01,1,117661,422,292.0,397.5,364.666667,410.50,450.2,402.666667,529.285714,490.500,488.111111,546.3,529.818182,538.333333
2018-07-01,1,117661,437,422.0,357.0,405.666667,379.00,412.8,445.500000,405.428571,515.875,482.888889,481.5,535.000000,520.833333
2018-08-01,1,117661,393,437.0,429.5,383.666667,413.50,390.6,416.833333,444.285714,409.375,507.111111,478.3,477.454545,526.833333
2018-09-01,1,117661,442,393.0,415.0,417.333333,386.00,409.4,391.000000,413.428571,437.875,407.555556,495.7,470.545455,470.416667
2018-10-01,1,117661,322,442.0,417.5,424.000000,423.50,397.2,414.833333,398.285714,417.000,438.333333,411.0,490.818182,468.166667
2018-11-01,1,117661,250,322.0,382.0,385.666667,398.50,403.2,384.666667,401.571429,388.750,406.444444,426.7,402.909091,476.750000
2018-12-01,1,117661,488,250.0,286.0,338.000000,351.75,368.8,377.666667,365.428571,382.625,373.333333,390.8,410.636364,390.166667
2019-01-01,1,117661,1050,488.0,369.0,353.333333,375.50,379.0,388.666667,393.428571,380.750,394.333333,384.8,399.636364,417.083333
2019-02-01,0,0,0,1050.0,769.0,596.000000,527.50,510.4,490.833333,483.142857,475.500,455.111111,459.9,445.272727,453.833333