In [23]:
import pandas as pd
import numpy as np
from datetime import datetime
dataFrame = pd.read_csv(r"C:\Users\Paulo Cesar\Estudos\Data Science\Ajuste Media de Compra\VENDA-GAM-343.CSV", sep=";")
dataFrame['dt_venda'] = pd.to_datetime(dataFrame['dt_venda'])

In [25]:
dataFrame.tail()

        dt_venda  cd_empresa  cd_mercadoria  qt_vendida
33045 2018-01-09           5         533273           0
33046 2018-01-10           5         533273           0
33047 2018-01-11           5         533273           0
33048 2018-01-10           5         535835           0
33049 2018-01-11           5         535835           0

In [26]:
arrayMercadoria = dataFrame['cd_mercadoria'].unique()
arrayEmpresa = [1, 4, 5]
#arrayMercadoria = [117661]
#arrayEmpresa = [1]

array = []

for emp in arrayEmpresa:
    i = 0
    for i, mer in enumerate(arrayMercadoria):
        df = dataFrame[(dataFrame['cd_mercadoria'] == mer) & 
                      (dataFrame['cd_empresa'] == emp)].sort_values(by=['dt_venda'],ascending=False)
        array.append(df)
        j = 1
        while j <= 12:
            array[len(array)-1]['MM'+str(j)] = array[len(array)-1]['qt_vendida'].rolling(j).mean()
            j += 1
array

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.